engine/_deps
engine/CMakeFiles
engine/CPM_modules
engine/cpm-package-lock.cmake
engine/Makefile
engine/cmake_install.cmake
engine/Generator_artefacts
engine/CMakeCache.txt
engine/compile_commands.json
server/dist
server/.env
resources/output/*
resources/input/*
node_modules
.vscode
